@font-face {
  font-family: "PFDinTextCondPro";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/pfdintextcondpro-regular.woff2") format("woff2"),
    url("../assets/fonts/pfdintextcondpro-regular.woff") format("woff");
}

@font-face {
  font-family: "PFDinTextCondPro";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/pfdintextcondpro-medium.woff2") format("woff2"),
    url("../assets/fonts/pfdintextcondpro-medium.woff") format("woff");
}

@font-face {
  font-family: "PFDinTextCondPro";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/pfdintextcondpro-bold.woff2") format("woff2"),
    url("../assets/fonts/pfdintextcondpro-bold.woff") format("woff");
}
